<h1>Productos</h1>
<p>Holaaa! {{user.email}} Bienvenid@</p>
<button onclick="logout()">logout</button>
<br/>
<br/>
<button><a href="/">Home</a></button>

<!-- Display products -->
{{#if products}}
  <ul>
    {{#each products}}
      <li>
        <h2>{{title}}</h2>
        <p>Description: {{description}}</p>
        <p>Price: {{price}}</p>
        <p>Stock: {{stock}}</p>
        <!-- You can display other product details here -->
        <hr>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No products available.</p>
{{/if}}

<script>
  function logout() { 
    fetch("/api/sessions/logout", { // Corrected the URL to point to logout route
      method: "GET",
      headers: { "Content-Type": "application/json" }, 
    })
    .then((response) => { 
      if (response.ok) { 
        console.log("logged-out"); 
        window.location.href = "/api/sessions/login"; // Redirect to login page after logout
      } else { 
        console.error("Error al salir de sesion"); 
      } 
    }) 
    .catch((error) => console.error("Error:", error)); 
  }
</script>
